*{
    margin: 0px;
    padding: 0px;
}

.mh1{
    height: 65px;
    background-color: black;
    background-position: center;
    width:max-content;
    padding: 20px;float: top -10px;;
    border-top: 10px;
    font-family: Poppins;
}

.main{
    height: auto;
    background-image: url(https://ik.imagekit.io/pranesh/REVAMP%20TRAINING/mainpage.jpg);
    background-size:auto;
    
}